@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Poppins:wght@200;300;400;500;600;700&display=swap');

/*colour pallet*/
:root
{
    --bg-black-900:#151515;
    --bg-black-100:#222222;
    --bg-black-50:#393939;
    --text-white-900:#ffffff;
    --text-white-700:#e9e9e9;
    --skin-color:#5913d3;

}


/* Light Mode Styles */

body.light{
  --bg-black-900:#f2f2fc;
  --bg-black-100:#fdf9ff;
  --bg-black-50:#e8dfec;
  --text-white-900:#302e4d;
  --text-white-700:#504e70;
}

  /* Basic reset for styling */
body, h1, h2, p {
    margin: 0;
    padding: 0;
    font-family: 'Poppins' sans-serif;
}

/* Basic styling for the body */
body {
    background-color: var(--bg-black-900);
    color: var(--text-white-700);
    line-height: 1.6;
    font-size: 16px;
    transition: background-color 0.3s ease, color 0.3s ease;
}



/* home*/
.home{
    min-height: 100vh;
    display: flex;
    color: var(--text-black-900);
}

h3.hello{
    font-size: 45px;
    margin: 15px 0;
}

h3.hello span{
    font-family: 'Bad Script', serif;
    font-size: 40px;
    font-weight: 700;
    color: var(--skin-color);
}

h3.my-profession{
    font-size: 30px;
    margin: 15px 0;
}


.container .text{
    position: relative;
    color: var(--text-white-700);
    font-size: 30px;
    margin: 15px 0;
    font-weight: 600;
}

.text.occupation{
    color: var(--skin-color);
}

.home-info p {
    margin-bottom: 70px;
    font-size: 20px;
    color: var(--text-white-700);
}



/* Navigation bar styles */
nav {
  background-color: var(--bg-black-50);
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Navbar items */
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 20px;
}

nav ul li a {
  text-decoration: none;
  color: var(--text-white-900);
  font-size: 18px;
  font-weight: bold;
}

.audio-toggle button.playing {
  color: var(--skin-color);
}

nav ul li a:hover {
  color: var(--skin-color);
}


/* Light mode toggle button */
.light-mode-toggle button {
  font-size: 20px;
  font-weight: 500;
  padding:20px 25px;
  background-color: var(--skin-color);
  border: none;
  border-radius: 5px;
  color: var(--text-white-900);
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.light-mode-toggle button:hover {
  transform: scale(1.05);
}

/* Audio toggle button */
.audio-toggle button {
  background-color: transparent;
  border: none;
  color: var(--text-white-900);
  font-size: 16px;
  cursor: pointer;
  margin-left: 20px;
}

.audio-toggle button:hover {
  color: var(--skin-color);
}

.audio-toggle {
  display: flex;
  align-items: center;
  margin-right: 20px;
}


/* Section layout */
section {
    padding: 80px 20px 20px; 
    text-align: center;
}

header {
    background-color: var(--skin-color);
    color: var(--text-white-900);
    padding: 50px 20px;
}

header h1 {
    font-size: 48px;
}

.content {
    padding: 20px;
}

/* About layout */
.about {
    background-color: var(--bg-black-100);
    margin: 30px 0;
    padding: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
.about h2{
    font-size: 35px;
}
  
  .about .about-content {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
  }
  
  .about .course-info, .skills {
    flex: 1;
  }
  
  /* Text Styling */
  .about .about-text h3 {
    font-size: 24px;
    font-weight: 700;
    color: var(--text-white-900);
  }
  
  .about .about-text h3 span {
    color: var(--skin-color);
  }
  
  .about .about-text p {
    font-size: 16px;
    line-height: 25px;
    color: var(--text-white-700);
  }
  
  /* Course Information */
  .course-info .info-items {
    display: flex;
    flex-direction: column;
  }
  
  .course-info .info-items p {
    font-weight: 600;
    padding: 10px 0;
    font-size: 16px;
    color: var(--text-white-900);
    border-bottom: 1px solid var(--bg-black-50);
  }
  
  .course-info .info-items span {
    font-weight: 400;
    color: var(--text-white-700);
    margin-left: 4px;
  }
  
  /* Skills Section */
  .skills {
    display: flex;
    flex-direction: column;
    gap: 7px;
  }
  
  .skills-item {
    display: flex;
    flex-direction: column;
  }
  
  .skills-item h5 {
    font-weight: 600;
    font-size: 16px;
    color: var(--text-white-900);
    text-transform: capitalize;
    margin-bottom: 10px;
  }
  
  .progress {
    background-color: var(--bg-black-50);
    height: 7px;
    border-radius: 4px;
    position: relative;
  }
  
  .progress-in {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 4px;
    background-color: var(--skin-color);
  }
  
  .skill-percent {
    position: absolute;
    top: -25px;
    right: 0;
    color: var(--text-white-900);
    font-weight: 400;
  }

/* Projects */
#projects {
  padding: 40px 20px;
}

#projects h2{
  text-align: left;
}

.projects {
  display: grid; 
  grid-template-columns: repeat(2, 1fr); 
  gap: 20px;      
}

.projects-item {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.projects-item-inner {
  padding: 10px;
}

.projects-img img {
  width: 100%;     
  height: 300px;  
  object-fit: cover; 
  transition: all 0.3 ease;
}

/* .projects-img, img:hover {
  transform: scale(1.05);
} */

@media (max-width: 768px) {
  .projects .projects-item {
    flex: 0 0 100%;  
    max-width: 100%;
  }
}


h2, p {
  text-align: center;
  margin-bottom: 20px;
}

/* contact*/

.contact{
  background-color: var(--bg-black-100);
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; 
}


.contact-info-item {
  flex: 1 1 22%;
  margin: 10px;
  text-align: center;
  padding: 15px;
  box-sizing: border-box;
  margin-bottom: 30px;
}


.icon {
  font-size: 30px;
  margin-bottom: 10px;
  color: var(--skin-color);
}


h4 {
  font-size: 25px;
  margin-bottom: 5px;
}
p {
  font-size: 20px;
}


footer {
    background-color: var(--bg-black-50);
    color: var(--text-white-900);
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}